<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>validateUserServlet</servlet-name>
    <servlet-class>com.servlets.validateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateUserServlet</servlet-name>
    <url-pattern>/validateUserServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CreateMasterListServlet</display-name>
    <servlet-name>CreateMasterListServlet</servlet-name>
    <servlet-class>com.servlets.CreateMasterListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMasterListServlet</servlet-name>
    <url-pattern>/CreateMasterListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetailsServlet</display-name>
    <servlet-name>StudentDetailsServlet</servlet-name>
    <servlet-class>com.servlets.StudentDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailsServlet</servlet-name>
    <url-pattern>/StudentDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassDetailsServlet</display-name>
    <servlet-name>ClassDetailsServlet</servlet-name>
    <servlet-class>com.servlets.ClassDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDetailsServlet</servlet-name>
    <url-pattern>/ClassDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignClassServlet</display-name>
    <servlet-name>AssignClassServlet</servlet-name>
    <servlet-class>com.servlets.AssignClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignClassServlet</servlet-name>
    <url-pattern>/AssignClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignStudentServlet</display-name>
    <servlet-name>AssignStudentServlet</servlet-name>
    <servlet-class>com.servlets.AssignStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignStudentServlet</servlet-name>
    <url-pattern>/AssignStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTeacherServlet</display-name>
    <servlet-name>AssignTeacherServlet</servlet-name>
    <servlet-class>com.servlets.AssignTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeacherServlet</servlet-name>
    <url-pattern>/AssignTeacherServlet</url-pattern>
  </servlet-mapping>
</web-app>